* {
    margin: 0px;
    padding: 0%;
    text-decoration: none;
    font-family: 'Aboreto', cursive;
    font-family: 'Cinzel', serif;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0px;
    justify-content: center;
    align-items: center;
    background-size: 100% 10%;
    background-color: #7eb9f5;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

p {
    font-family: 'Aboreto', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'EB Garamond', serif;
}


header {
    width: 100%;
    height: 100px;
    background-color: #d0f0f8;

}


/*Header del main*/
.headercolor {
    background-color: #d0f0f8;
}

.headerDeMain {
    padding-top: 40px;
    display: block;
    margin: 0px 0px 0px 10%;
    text-align: left;
    height: 200px;
}

.headerDeMain h1 {
    color: black;
    font-size: 60px;
}

/*FIN*/

.main {
    display: grid;
    grid-template-columns: 70% auto;
    margin: 1%;
}

.informacionSecundaria {
    margin-left: 20px;
}

.grupoDeListas {
    margin-bottom: 15px;
}

.interior {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

.logo {
    float: left;
    padding: 5px 20px 0;
}

.logo img {
    height: 90px;
    padding: 10px;
}

.logo img:hover {
    transform: scale(1.2);
}

.navegacion {
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}

li a.active,
li a:hover {
    background: #8ce0e6;
    border-radius: 10px;
    transition: .3s;
}

.navegacion ul {
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover {
    transform: scale(1.1);
}

.navegacion ul li a {
    color: #222222;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover {
    color: #0e0ae7;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos {
    display: block;
    border-radius: 10px;
}

.navegacion .submenu .hijos {
    display: none;
    /*fondo de los menus secun*/
    background: #d0f0f8;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li {
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a {
    display: block;
}

/*NAV BAR FIN*/
/*NAV BAR HACER RESPONSIVE*/
@media (max-width: 858px) {
    header {
        height: 150px;
    }

    header .interior {
        display: grid;
        grid-template-rows: 50% auto;
        height: 100%;
        width: 100%;
    }

    .logo {
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .navegacion li {
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0px;
        padding-bottom: 15px;
    }

    .navegacion ul li a {
        display: inline-block;
        font-size: 8.2px;
    }

}

/*NAV BAR FIN TOTAL*/

/*Main*/

.main {
    padding: 100px 0px 100px 0px;
}

.bloqueDeInf {
    width: 50%;
    margin: 10px auto 10px auto;
    text-align: center;
    padding-bottom: 50px;
}

.bloqueDeInf h1 {
    font-size: 55px;
}

.bloqueDeInf p {
    font-size: 25px;
    padding: 20px 0px 30px 0px;
    margin: 10px 20px 10px 20px;
}

.bloqueDeInf img {
    width: 70%;
}

/*Parte superior de cards*/


/*CARDS*/

.card {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;

    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 5px;
}

.imgDecardsss img {
    width: 100%;
    border-radius: 5px;
}

.card p {
    margin: 10px 10px 10px 10px;
}

.card h5 {
    margin: 10px 10px 10px 10px;
}

@media (max-width: 858px) {
    .headercolor {
        width: 100%;
    }

    .headerDeMain {
        height: 150px;
    }

    .headerDeMain h1 {
        font-size: 30px;
        margin: 10px;
    }

    .main {
        display: block;
        margin: 0px;
        padding: 10px;
    }

    .informacionMain {
        padding: 0px;
        margin: 0px;
    }


    .informacionMain p {
        display: block;
        font-size: 15px;
        width: 240px;
        margin: 10px auto 10px auto;
        padding: 0px;
    }

    .informacionMain h1 {
        font-size: 25px;
    }

    .bloqueDeInf {
        /* margin: 10px auto 10px auto; */
        padding: 0px;
        margin: 10px 0px 30px 0px;
        width: 100%;
    }

    /* fin de la parte superior */
    /* cards con img */
    .informacionSecundaria {
        margin: 0;
    }

    .cardDeInformacion {
        margin: 10px auto 10px auto;
        padding: 10px;
    }
}


/* Footer */

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: #d0f0f8;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}

.containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.boxFooter {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.boxFooter .logo img {
    width: 180px;
}

.boxFooter .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500px;
    color: #7a7a7a;
    font-size: 18px;
}

.boxFooter h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.boxFooter a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.boxFooter a:hover {
    opacity: 0.8;
}

.boxFooter a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


@media screen and (max-width: 800px) {
    footer {
        width: 100%;
        height: 100%;
    }

    .logo1 img {
        width: 180px;
        margin: 10px 10px 10px 59px;
    }
}