<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex Alumnos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../imgs/img-core/logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/layout/CSS/ExAlumnos.css">

</head>

<body>
<!--Header-->
<header>
    <div class="interior">
        <a href="index.html" class="logo" target="blank"><img src="../imgs/img-core/logo.png" alt="Logo"></a>
        <nav class="navegacion">
            <ul>
                <li><a href="../index.html" target="blank">Inicio</a></li>
                <li class="submenu"><a href="../informacion.html" target="blank">Información</a>
                    <ul class="hijos">
                        <li><a href="../preguntasfrec.html">Preguntas Frecuentes</a></li>
                        <li><a href="../titulo.html">Titulo a Obtener</a></li>
                        <li><a href="../examen.html">Examen de Ingreso</a></li>
                        <li><a href="../inscripciones.html">Inscripciones</a></li>
                        <li><a href="../examenmodelo.html">Examenes Modelo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../historia.html" target="blank">Historia</a></li>
                <li class="submenu"><a href="../ubicacion.html" target="blank">Ubicacion</a></li>
            </ul>
        </nav>
    </div>
</header>
<!------>



    <!--Footer-->
    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../imgs/img-core/escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
        </div>
    </footer>
    <!------->
</body>

</html>