<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <title>Historia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../imgs/img-core/logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/historia.css">
</head>

<body>
    <!--Header-->
    <header>
        <div class="interior">
            <a href="index.html" class="logo" target="blank"><img src="../imgs/img-core/logo.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a href="index.html" target="blank">Inicio</a></li>
                    <li class="submenu"><a href="informacion.html" target="blank">Información</a>
                        <ul class="hijos">
                            <li><a href="preguntasfrec.html">Preguntas Frecuentes</a></li>
                            <li><a href="titulo.html">Titulo a Obtener</a></li>
                            <li><a href="examen.html">Examen de Ingreso</a></li>
                            <li><a href="inscripciones.html">Inscripciones</a></li>
                            <li><a href="examenmodelo.html">Examenes Modelo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="active"  target="blank">Historia</a></li>
                    <li class="submenu"><a href="ubicacion.html" target="blank">Ubicacion</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Header-->


    <div class="headercolor">
        <div class="headerDeMain">
            <h1>Historia</h1>
        </div>
    </div>

    <!--Main-->
    <section class="section001">
        <div class="container">
            <h2>Comienzos de la Escuela</h2>
            <p>
                La escuela 4-106 “IV BRIGADA AÉREA”, tiene una larga y fructífera historia: fue creada en el año 1978,
                como Escuela Nacional de Educación Técnica (E.N.E.T. Nº 2 “IV BRIGADA AÉREA” y desde entonces desarrolla
                una beneficiosa actividad educativa inserta en la misma unidad militar, mediante un convenio
                oportunamente realizado entre la Fuerza Aérea Argentina y el Consejo nacional de Educación Técnica
                (CO.N.E.T.)
            </p>
            <p>
                A partir de la firma de este convenio, la escuela comienza a desarrollar una prolífera actividad en
                comunión de esfuerzos y criterios para favorecer el proceso de enseñanza-aprendizaje y facilitar una
                mayor cultura integral de los alumnos, asegurando su desempeño, con eficiencia y responsabilidad
            </p>

        </div>
    </section>

    <section class="section001">
        <div class="container reveal">
            <h2>Como se creo</h2>
            <p>
                Nulla tempus nulla in magna semper, sit amet pharetra nunc rutrum.
                Vivamus eget nulla purus. Aenean consectetur auctor blandit. Proin
                turpis neque, egestas id orci nec, vehicula elementum neque. Quisque
                lobortis dolor consectetur tincidunt feugiat.
            </p>

        </div>
    </section>

    <section class="section001">
        <div class="container reveal">
            <h2>Lo que marco en el tiempo</h2>
            <p>
                Nulla tempus nulla in magna semper, sit amet pharetra nunc rutrum.
                Vivamus eget nulla purus. Aenean consectetur auctor blandit. Proin
                turpis neque, egestas id orci nec, vehicula elementum neque. Quisque
                lobortis dolor consectetur tincidunt feugiat.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius
                molestiae perferendis eos provident vitae iste.
            </p>

            <p>
                Morbi ex enim, laoreet ac mi eget, vulputate elementum justo.
                Suspendisse hendrerit neque at lobortis imperdiet. Nam id placerat
                risus. Aliquam ornare tincidunt nisi sed porttitor.
            </p>
        </div>
    </section>


    <section class="section001">
        <div class="container reveal">
            <h2>Primera Promocion de Técnico Aeronáutico</h2>
            <p>
                Nulla tempus nulla in magna semper, sit amet pharetra nunc rutrum.
                Vivamus eget nulla purus. Aenean consectetur auctor blandit. Proin
                turpis neque, egestas id orci nec, vehicula elementum neque. Quisque
                lobortis dolor consectetur tincidunt feugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fugit similique beatae maiores unde. Inventore ex enim alias quasi pariatur similique, harum ea,
                cupiditate iste nesciunt obcaecati! Placeat, tenetur. Voluptas, aliquam.
            </p>

            <!--CAMBIAR TAMAÑO-->
            <img class="imgDeHstoria" src="../public/fotos-de-la-escuela/escuela historial/004 Primera promocion.jpg"
                alt="">
        </div>
    </section>

    <section class="section001">
        <div class="container reveal">
            <h2>Viaje de Egresados 1975</h2>
            <p>
                Nulla tempus nulla in magna semper, sit amet pharetra nunc rutrum.
                Vivamus eget nulla purus. Aenean consectetur auctor blandit. Proin
                turpis neque, egestas id orci nec, vehicula elementum neque. Quisque
                lobortis dolor consectetur tincidunt feugiat.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius
                molestiae perferendis eos provident vitae iste.
            </p>

            <p>
                Morbi ex enim, laoreet ac mi eget, vulputate elementum justo.
                Suspendisse hendrerit neque at lobortis imperdiet. Nam id placerat
                risus. Aliquam ornare tincidunt nisi sed porttitor.
            </p>
            <img class="imgDeHstoria"
                src="../public/fotos-de-la-escuela/escuela historial/001viaje egresados en DOUGLAS DC3 1975.jpg" alt="">
        </div>
    </section>
    <!--Fin del  Main-->

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../imgs/img-core/escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
        </div>
    </footer>

    <!--Fin del Footer-->
    <script src="./js/index.js"></script>
</body>

</html>