<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <title>Informacion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../imgs/img-core/logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>

    </script>
    <link rel="stylesheet" href="../CSS/informacion.css">

</head>

<body>
    <!--Header-->
    <header>
        <div class="interior">
            <a href="index.html" class="logo" target="blank"><img src="../imgs/img-core/logo.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a href="index.html" target="blank">Inicio</a></li>
                    <li class="submenu "><a class="active" target="blank">Información</a>
                        <ul class="hijos">
                            <li><a href="preguntasfrec.html">Preguntas Frecuentes</a></li>
                            <li><a href="titulo.html">Titulo a Obtener</a></li>
                            <li><a href="examen.html">Examen de Ingreso</a></li>
                            <li><a href="inscripciones.html">Inscripciones</a></li>
                            <li><a href="examenmodelo.html">Examenes Modelo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="historia.html" target="blank">Historia</a></li>
                    <li class="submenu"><a href="ubicacion.html" target="blank">Ubicacion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--Main-->

    <!-- parte del header -->
    <div class="headercolor">
        <div class="headerDeMain">
            <h1>Información</h1>
        </div>
    </div>
    <!-- cabezal -->
    <!--Main FIn-->
    <div class="main">

        <div class="informacionMain">
            <div class="bloqueDeInf">
                <h1>La Escuela</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita perspiciatis hic accusamus quasi
                    laudantium enim deleniti ab numquam quas pariatur ratione, voluptatum dolores quod? Voluptas esse
                    velit
                    dolorum nisi mollitia.lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora
                    ipsum
                    maxime
                    exercitationem sequi cupiditate illum maiores, voluptatem voluptatibus, laborum mollitia est aliquam
                    natus
                    nostrum necessitatibus ipsam incidunt quam perspiciatis!</p>
                <img src="https://scontent.fmdz4-1.fna.fbcdn.net/v/t39.30808-6/312556050_582510677008060_1572864847967011239_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=fFMSAdR1Y78AX9j-dEq&tn=_gr-UJ0ooMxtfeOk&_nc_ht=scontent.fmdz4-1.fna&oh=00_AfAMXgJs5xneRPj59TiRNGKBpwlVLYuLmquW-YgTWSX6xA&oe=636C76CB" alt="">
            </div>

            <div class="bloqueDeInf">
                <h1>Sus Profesores</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita perspiciatis hic accusamus quasi
                    laudantium enim deleniti ab numquam quas pariatur ratione, voluptatum dolores quod? Voluptas esse
                    velit
                    dolorum nisi mollitia.lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora
                    ipsum
                    maxime
                    exercitationem sequi cupiditate illum maiores, voluptatem voluptatibus, laborum mollitia est aliquam
                    natus
                    nostrum necessitatibus ipsam incidunt quam perspiciatis!</p>
                <img src="../CSS/banner/fondo1.jpg" alt="">
            </div>

            <div class="bloqueDeInf">
                <h1>Lo Que Buscamos en Esta Escuela</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita perspiciatis hic accusamus quasi
                    laudantium enim deleniti ab numquam quas pariatur ratione, voluptatum dolores quod? Voluptas esse
                    velit
                    dolorum nisi mollitia.lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora
                    ipsum
                    maxime
                    exercitationem sequi cupiditate illum maiores, voluptatem voluptatibus, laborum mollitia est aliquam
                    natus
                    nostrum necessitatibus ipsam incidunt quam perspiciatis!</p>
                <img src="../CSS/banner/fondo2.jpg" alt="">
            </div>
        </div>



        <div class="informacionSecundaria">
            <h1>Una vista al pasado</h1>

            <div class="card mb-3 cardDeInformacion">
                <div class="imgDecardsss">
                    <img src="../imgs/001viaje egresados en DOUGLAS DC3 1975.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Viaje de Egresados</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card mb-3 cardDeInformacion">
                <div class="imgDecardsss">
                    <img src="../imgs/002 Educacion fisica.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Educacion Fisica</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card mb-3 cardDeInformacion">
                <div class="imgDecardsss">
                    <img src="../imgs/003 Alumnos marchando.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Marchas</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>



        </div>

    </div>
    <!-- END MAIN -->


    <!--Footer-->

    <footer>

        <div class="containerFooter">
            <div class="boxFooter">
                <div class="logo1">
                    <img src="../imgs/img-core/escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="boxFooter">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="boxFooter">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
        </div>
    </footer>


</body>

</html>