<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/ubicacion.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Ubicacion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../imgs/img-core/logo.png">
    <script src="https://kit.fontawesome.com/4f951ca54b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/ubicacion.css">
</head>

<body>

    <header>
        <div class="interior">
            <a href="index.html" class="logo" target="blank"><img src="../imgs/img-core/logo.png" alt="Logo"></a>
            <nav class="navegacion">
                <ul>
                    <li><a href="index.html" target="blank">Inicio</a></li>
                    <li class="submenu"><a href="informacion.html" target="blank">Información</a>
                        <ul class="hijos">
                            <li><a href="preguntasfrec.html">Preguntas Frecuentes</a></li>
                            <li><a href="titulo.html">Titulo a Obtener</a></li>
                            <li><a href="examen.html">Examen de Ingreso</a></li>
                            <li><a href="inscripciones.html">Inscripciones</a></li>
                            <li><a href="examenmodelo.html  ">Examenes Modelo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="historia.html" target="blank">Historia</a></li>
                    <li><a class="active" href="ubicacion.html" target="blank">Ubicacion</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- cabezal del main -->
    <div class="headercolor">
        <div class="headerDeMain">
            <h1>Ubicacion</h1>
        </div>
    </div>
    <!--fin del cabezal del main -->

    <main>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1993.1775809084465!2d-68.79971687437165!3d-32.842292315243874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0f4ff86bdf29%3A0xd4185b9885a0cca7!2sEscuela%204-106%20IV%20Brigada%20A%C3%A9rea!5e0!3m2!1ses-419!2sar!4v1660101298780!5m2!1ses-419!2sar"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="cardsDeRecordatorio">
            <div class="recordatorio1">
                <h3 class="tRecordatorio">Recordar</h3>
                <p class="recordatorio">Una cosa para recordar y dejar en claro antes del ingreso es que
                    es un área militar y privada, una vez pasado por el portón, tiene que ir hacia el registro que esta
                    a la derecha y pedir una tarjeta que dice visita para que pueda ir hasta la escuela
                </p>
            </div>
            <div class="recordatorio1">
                <h3 class="tRecordatorio">Líneas de Colectivos</h3>
                <p class="recordatorio">965, 604, 608, 609, 610, 611, 612.</p>
            </div>
            <div class="recordatorio1">
                <h3 class="tRecordatorio">Departamento</h3>
                <p class="recordatorio">Las Heras</p>
            </div>
            <div class="recordatorio1">
                <h3 class="tRecordatorio">Dirección</h3>
                <p class="recordatorio">Avenida Fuerza Aérea KM 7½ El Plumerillo</p>
            </div>
        </div>
    </main>

    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../imgs/img-core/escudo_dorado.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque
                        velit
                        libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia
                        praesentium atque laudantium, nam deleniti sapiente deserunt.a</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Autoridades <br> de la Escuela</h2>
                <a>Director: Porfesor Guillermo Vila</a>
                <a>Regente: Profesora Marcela Palermo</a>
                <a>Jefe de Enseñansa Práctica: Eduardo Panacite</a>
                <a>Jefe de Sección: Mario Jara</a>

            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/esc4106baerea"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-solid fa-envelope"></i> Correo</a>
                <a href="https://www.instagram.com/ivbrigadaaereacoop/"><i class="fab fa-instagram-square"></i>
                    Instagram</a>
                <a><i class="fa-solid fa-phone"></i> 261 261 2126</a>
            </div>

        </div>
        <div class="box__copyright">
            <hr>
        </div>
    </footer>




</body>

</html>